* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hello {
  color: red;
}

#content {
  position: relative;
}

.show {
  visibility: visible !important;
  opacity: 1;
  height: 100%;
  width: 100%;

  position: absolute;
}

.hidden {
  visibility: hidden !important;
  opacity: 0;
  display: none;
}

.changeTemperatureBtn {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: black;
  padding: 20px;
}

.currentActive {
  background-color: green;
  color: black;
  font-weight: 900;
  border-radius: 20px;
  padding: 10px 20px;
}

.loadingContainer {
  background-color: yellow;
  color: black;
  height: 100%;
  width: 100%;
}